.footer-wrap{
    background-color: rgb(255, 230, 192);
    padding-bottom: 7%;
    padding-top: 30px;
    
}

/* .footer{
   text-align: center;
} */

.footer h1{
    color: #9c9fd1;
    margin-bottom: 50px;

    
}

.footer p{
    color: #9c9fd1;
    
}
.wrap, .sm-wrap{
    display: flex;
}

.github{
    /* display: inline;
    vertical-align: middle; */
    flex: 1;

}

.email{
    /* display: inline;
    vertical-align: middle; */
    flex: 1;
}

.link{
    /* display: inline;
    vertical-align: middle; */
    flex: 1;
    

}

.email-img, .link-img, .github-img, .sm{
    
    max-width: 5%;
    margin: auto;
    justify-content: space-between;
}

