@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=Shantell+Sans:wght@300;500&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Shantell Sans', cursive;
}

body {
  background: #8386b4
}

h1,h4,p, a{
  color: #e8be76;
  text-decoration: none;
}

.btn{
  color: #efb95d;
  background-color: #afb2da;
  padding: 5px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-item{
  margin: 10px;
}
ul{
  list-style-type: none;
}